
body{min-width: 1205px;}
/*自适应页面宽度*/
.wrap{
	width: 1205px;
	margin: 0 auto;
	}
/*清除浮动*/
.clearfix:after{visibility: hidden;overflow: hidden;content: '.';clear: both;height: 0;}
/*遮罩层*/
#filter{
	position: fixed;
	display: none;
	width:100%;
	height: 100%;
	opacity: 0.5;
	background: #000;
	filter:alpha(opacity=50);
	zoom:1;
	z-index: 999;
}
/*顶部信息栏*/
#topInfor{
	height: 36px;
	background: #c0c0c0;
	}
#topInfor p,#topInfor a,#topInfor span{
	display: inline-block;
	font-size: 12px ;
	line-height: 36px;
}
#topInfor a{color: #21a557;}
#topInfor div{position: relative;}
#topInfor #u-alert{
	float: right;
	top: 12px;
	width: 66px;
	padding-left: 16px;
	box-sizing:border-box;
	background: url(../images/icon.png) no-repeat -6px -102px;
	cursor: pointer;
}
/*登录框*/
#login{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 388px;
	height: 288px;
	margin: -144px 0 0 -194px;
	padding: 30px 39px;
	box-sizing:border-box;
	background: #fff;
	z-index: 1000;
}
#login strong{
	font-size: 18px;
	font-weight: bold;
	color: #444444;
}
#login form{margin-top: 20px;}
#account,#password{
	width: 293px;
	height: 43px;
	padding-left: 10px;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 43px;
	box-sizing:border-box;
	color: #cccccc;
	border: 1px solid #dfdfdf;
	-moz-box-shadow:2px 2px  #f1f1f1 inset;               
	-webkit-box-shadow:2px 2px  #f1f1f1 inset;         
	box-shadow:2px 2px  #f1f1f1 inset;           
}
#login form input[type="submit"]{
	width: 293px;
	height: 46px;
	margin-top: 14px;
	border: none;
	background: url(../images/login.png) no-repeat;
}
#login form input[type="submit"]:hover{
	background: url(../images/login.png) no-repeat 0 -71px;
	cursor: pointer;
}
#loginClose{
	position: absolute;
	top: 7px;right: 5px;
	width: 16px;
	height: 16px;
	background: url(../images/icon.png) no-repeat -7px -141px;
	cursor: pointer;
}
/*head部样式*/
#head{
	height: 89px;
	overflow: hidden;
	background: #fff;}
.headCont{
	height: 22px;
	margin: 30px 0;
}
.headCont span{
	float: left;
	height: 100%;
	line-height: 22px;
}
#follow{
	float: left;
	width: 106px;
	height: 100%;
	padding-left: 75px;
	margin-left: 30px;
	font-size: 12px;
	box-sizing:border-box;
	background: url(../images/icon.png) no-repeat 0 -181px;
}
#cancle{
	margin: 0; 
	line-height: 21px;
	color: #999999;
	cursor: pointer;
}
#cancle:hover{
	color: #21a557;
	text-decoration: underline;
}
.headLogo{
	width: 236px;
	height: 22px;
	background: url(../images/edu.png) no-repeat -8px -5px;
}
#attention{
	float: left;
	width: 58px;
	height: 22px;
	margin:0 12px 0 28px;
	border: none;
	background: url(../images/icon.png) no-repeat 0 -30px;
	cursor: pointer;
}
#attention:hover{background: url(../images/icon.png) no-repeat 0 -2px;}
.fans,.fansCount{
	margin-right: 6px;
	font-size: 12px;
}
.headCont h2 a{
	float: right;
	margin-left: 55px;
	height: 100%;
	font-size: 16px;
	line-height: 22px;
}
.search{
	display: inline-block;
	float: right;
	width: 24px;
	height: 100%;
	margin: 0 12px 0 28px; 
	background: url(../images/icon.png) no-repeat -3px -83px;
}
.search:hover{background: url(../images/icon.png) no-repeat -36px -83px;}
/*轮播图样式*/
#tabPic{
	width: 100%;
	height: 460px;
	overflow: hidden;
}
#continer{
	position: relative;
	left: 50%;
	height: 460px;
	margin-left: -826px;
	overflow: hidden;
}
#continer a{
	display: inline-block;
	width: 100%;
	height: 100%;}
#list{
	position: absolute;
	bottom: 15px;
	left:50%;
	padding: 0;
	margin-left: -285px; 
	z-index:99; 
	}
#list li{
	float: left;
	list-style: none;
	width: 10px;
	height: 10px;
	margin-right: 11px;
	background: url(../images/icon.png) no-repeat -41px -163px;
	cursor: pointer;
}
#list .on{background: url(../images/icon.png) no-repeat -9px -163px;}
/* 友站链接*/
#linkSite{
	height: 295px;
	background: #fff;
}
.cItem{ 
	float: left;
	width: 33.3%;
	height: 295px;
	padding: 61px 0 59px 0;
	box-sizing:border-box;
}
.cLogo{
	float:left;
	width: 105px;
	height: 100%;
}
.openLogo{background: url(../images/3pro.png) no-repeat -7px -1px;}
.cloudLogo{background: url(../images/3pro.png) no-repeat -112px -1px;}
.moocLogo{background: url(../images/3pro.png) no-repeat -215px -1px;}
.cIntro{float:left;width: 241px;}
.cIntro h2{
	padding-bottom: 15px;
	font: 600 20px/1em "microsoft yahei";
	color: #333333;
}
.cIntro p{
	margin-bottom: 28px;
	font-size: 14px;
	line-height: 24px;
	color: #666666;
}
.cIntro a{
	font-size: 14px;
	color: #39a030;
}
.cIntro a:hover{font-size: 15px;}
/*rowbox样式*/
#rowBox{
	overflow: hidden;
	width: 100%;
	height: 224px;
	background: #f8f8f8;
}
.items{
	position: relative;
	left: 50%;
	width: 1616px;
	margin-left: -808px;
}
.item{
	float: left;
	width: 320px;
	height: 216px;
	margin-top: 2px;
}
.item+.item{margin-left: 4px;}
/*课程内容区样式*/
#mainCon{
	height: 1550px;
	background: #f8f8f8;
}
.contFit{
	position: relative;
	padding: 79px 0 120px 0;
	box-sizing:border-box;
}
.mainCourse{
	position: relative;
	float: left;
	width: 981px;
	height: 1350px;
	z-index: 9;
}
.mainCourse h4{
	float: left;
	width: 202px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	box-shadow: 0 2px 1px #d4d3d3;
	cursor: pointer;
}
#design:hover,#program:hover{
	color: #fff;
	background: #39a030;}
#design{
	border-left: 1px solid #d4d3d3;
}
#program{
	box-shadow: 0 2px 1px #d4d3d3;
}
.selected{
	color: #fff;
	background: #39a030;
}
.course{
	position: relative;
	float: left;
	width: 100%;
	height: 1270px;
	margin-top: 9px;
	
}
#courseList{list-style: none;}
#courseList li{
	position: absolute;
	width: 225px;
	height: 228px;
	margin:18px 18px 0 0; 
	border: 1px solid #f1f1f1;
	box-shadow: 0 1px 2px #f1f1f1;
	background: #fff;
	overflow: hidden;
	z-index: 9;
	cursor: pointer;
}
#courseList li:hover{
	width: 460px;
	height: auto;
	padding: 10px 10px 0 10px;
	border: 1px solid #D6D3D3;
	box-shadow: 1px 1px 1px;
	z-index: 999;
}
#courseList li .img{
	float: left;
	width:223px;
	height:124px;
	margin: 1px; 
	vertical-align: top;
}
#courseList li p{margin-left: 5px;}
#courseList li:hover .courseName{color: #39a030;}
.courseName{
	overflow: hidden;
	font-size: 12px;
	line-height: 30px;
	color:#333333;
	white-space: nowrap;
	text-overflow: ellipsis;	
}
.courseProvider{
	font-size: 12px;
	line-height: 14px;
	color: #999999;
}
.peopleCount{
	width: 42px;
	height: 20px;
	padding-left: 17px;
	margin: 8px 0 8px 5px;
	font-size: 8px;
	line-height: 20px;
	color: #999999;
	box-sizing:border-box;
	background: url(../images/icon.png) no-repeat -4px -57px;
}
.coursePrice{
	font-size: 12px;
	font-weight: bold;
	color: #ff3f00;	
}
#pages{
	position: absolute;
	right: 20px;
	bottom: 0;
	width: 300px;
	height: 20px;
}
#pages li{
	display: inline-block;
	float: left;
	width: 20px;
	color: #666666;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
#pages li+li{margin-left: 5px;}
#pages li:hover{background: #9dd8b1;color: #fff;}
#pages .prev ,#pages .next{
	width: 30px;
	color: white;
	background: #9dd8b1;
}
#pages .checked{
	color: #fff;
	background: #9dd8b1;
}
.organIntro{
	float: right;
	width: 222px;
	height: 230px;
	margin-top: 3px;
	border: 1px solid #ecebeb;
	border-top: none;
	background: #fff;
	z-index: 8;
}
.organIntro .title{
	height: 56px;
	padding-left: 20px;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	line-height: 56px;
	color: #333333;
	
}
#video{
	vertical-align: top;
	box-sizing:border-box;
	
}
.videoIntro{
	margin: 20px 22px;
	box-sizing:border-box;
}
.videoIntro p{
	font-size: 14px;
	line-height: 1em;
}
.videoIntro input{margin-top: 9px;}
/*隐藏的video*/
#videoPlay{
	display: none;
	position: fixed;
	top: 0px;
	left:50%;
	width: 950px;
	height: 676px;
	margin-left: -475px;
	padding: 29px 30px; 
	background: #fff;
	box-sizing:border-box;
	z-index: 1000;	
}
#videoClose{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 16px;
	height: 16px;
	background: url(../images/icon.png) no-repeat -7px -141px;
	cursor: pointer;
}
#videoPlay p{
	margin-bottom: 11px;
	font-size: 18px;
	font-weight: bold;
}
.hotRank{
	position: absolute;
	top: 334px;
	right: 0;
	height: 778px;
	width: 222px;
	border: 1px solid #ecebeb;
	border-top: none;
	background: #fff;
	box-shadow: 0 1px 1px #d4d3d3;
	z-index: 8;
}
.rtitle{
	height: 56px;
	padding-left: 20px;
	border-bottom: 1px solid #ecebeb;
	font-size: 16px;
	line-height: 56px;
	
}
#hotList{
	height: 720px;
	padding: 20px;
	box-sizing:border-box;
}
#hotList:hover{box-shadow: 1px 0px 1px #d1cfd0;}
#hotList li{
	height: 50px;
	margin-bottom: 20px;

}
#hotList li img{
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 12px;
	
}
#hotList li p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333333;
}
.pCount{
	display: inline-block;
	width: 54px;
	height: 16px;
	margin-top: 10px;
	padding-left: 16px;
	font-size: 10px;
	color: #999999;
	box-sizing:border-box;
	background: url(../images/icon.png) no-repeat -50px -60px;
}
/*网页底部信息*/
#footer{
	width: 100%;
	height: 262px;
	overflow: hidden;
	color: #abadb0;
	background: #2c3339;
}
.fo-cont{
	width: 1110px;
	height: 110px;
	margin: 78px 254px 78px 0;
}
 .cont-l{
	float: left;
	width: 414px;
	height: 100%;
}
 .foEdu{
	width: 245px;
	height: 30px;
	margin: 10px 0 20px;
	background: url(../images/edu.png) no-repeat -8px -32px;
}
.cont-l p{
	margin:8px 0;
	font-size: 12.5px;
	letter-spacing: 1px;
}
.cont-r{
	float: right;
	width: 426px;
	height: 100%;
}
.cont-r div{
	float: left;
	height: 100%;
	color:#abadb0;
}
.fo-links{
	width: 190px;
}
.cont-r h3{
	font-size: 12.5px;
}
.cont-r a{ 
	display: inline-block;
	margin-top: 6px;
	font-size: 14.6px;
	color: #abadb0;}
#here{text-decoration: underline;}
.fo-us{
	position: relative;
	width: 118px;
}
.fo-more{
	width: 118px;
}
.u-sina{
	display: inline-block;
	position: absolute;
	top: 85px;
	left: 38px;
	width: 24px;
	height: 20px;
	background: url(../images/icon.png) no-repeat -35px -140px;
}
#appendP{
	margin-top: 30px;
	font: 14px/24px "microsoft yahei";
}
#appendH{
	padding: 6px 0 0 241px;
	box-sizing:border-box;
	font: 18px/25px "microsoft yahei";
}
#appendC,#appendA,#appendCl{
	padding: 6px 0 0 244px;
	box-sizing:border-box;
	font: 12px/12px "microsoft yahei";
}
#appendC{margin-top: 14px;}
#appendA{margin-top: 12px;margin-bottom: 8px;}
